<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Entertainment Hub</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
    <link rel="stylesheet" href="../static/entertain/css/bootstrap.min.css">    
    <link rel="stylesheet" href="../static/entertain/css/style.css">    
    <link rel="stylesheet" href="../static/entertain/css/responsive.css">
    <link rel="stylesheet" href="../static/entertain/css/custom.css">
</head>
 
<body>
    <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="../static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quarantine++
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/temp">Temperature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/emergency">Emergency</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Entertainment <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upcoming">Upcoming</a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Entertainment Hub</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Types of entertainment</h2>
                        <p>Please choose</p>
                    </div>
                </div>
            </div>
            
            <div class="row inner-menu-box">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                        
                    </div>
                </div>
                
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.lichess.org">
                                        <img src="../static/entertain/images/Games.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Games</h4>
                                            <p>Variety of games available <br> Sudoku, Chess and so on </br></p>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "../Kindle Free Website Template - Free-CSS.com/markups-kindle/books.html">
                                        
                                        <img src="../static/entertain/images/Books.jpg" class="img-fluid" alt="Image">             
                                            <div class="why-text">
                                            <h4>Books</h4>
                                            <p>Variety of books available!</p>
                                            </div>
                                        </a>
                                       
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "../bootstrap-news-template/news.html">
                                        <img src="../static/entertain/images/News.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>News</h4>
                                            <p>Get to know more about the world</p>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-lg-4 col-md-6 special-grid lunch">
                                        <div class="gallery-single fix">
                                            <a href = "/weath">
                                            <img src="../static/entertain/images/weather.jpg" class="img-fluid" alt="Image">
                                            <div class="why-text">
                                                <h4>Weather</h4>
                                                <p>Get to know about the changes in the environment</p>
                                            </a>
                                            </div>
                                            
                                            
                                        
                                    </div>
                                </div>
                                  
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qt-box qt-background">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <p class="lead ">
                        Making self-isolation a fun and enjoyable experience
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="main_page.html" id="back-to-main" title="Back to main" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
 
    <script src="../static/entertain/js/jquery-3.2.1.min.js"></script>
    <script src="../static/entertain/js/popper.min.js"></script>
    <script src="../static/entertain/js/bootstrap.min.js"></script>
    <script src="../static/entertain/js/jquery.superslides.min.js"></script>
    <script src="../static/entertain/js/images-loded.min.js"></script>
    <script src="../static/entertain/js/isotope.min.js"></script>
    <script src="../static/entertain/js/baguetteBox.min.js"></script>
    <script src="../static/entertain/js/form-validator.min.js"></script>
    <script src="../static/entertain/js/contact-form-script.js"></script>
    <script src="../static/entertain/js/custom.js"></script>
</body>
</html>