 <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="../static/main_page/index.html">
                                    <img src="../static/logo.png" alt="" width="100em">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="main_page.html">Home</a></li>
                                        <li><a href="index.html">Temperature</a></li>
                                        <li><a href="entertainment.html">Entertainment</a></li>
                                        <li><a href = "/management">Emergency</a></li>
                                        <li><a href = "upcoming.html">Upcoming Events</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="../static/main_page/index.html">
                                    <img src="../static/main_page/img/logo6.png" alt="" height="100px">
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        
                            
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
