<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Order Drinks</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
    <link rel="stylesheet" href="../static/entertain/css/bootstrap.min.css">    
    <link rel="stylesheet" href="../static/entertain/css/style.css">    
    <link rel="stylesheet" href="../static/entertain/css/responsive.css">
    <link rel="stylesheet" href="../static/entertain/css/custom.css">
</head>
 
<body>
    <nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="../static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quarantine++
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/temp">Temperature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/emergency">Emergency</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/entertainment">Entertainment</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Upcoming <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </nav>
 
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Upcoming Events!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Please choose the type of event</h2>
                    </div>
                </div>
            </div>
                
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.sistic.com.sg/events">
                                        <img src="../static/entertain/images/img-01.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Entertainment</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "/drink/boulevardier">
                                        <img src="../static/entertain/images/img-02.jpg" class="img-fluid" alt="Image">                                      <div class="why-text">
                                            <h4>Cultural Events</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://devpost.com/">
                                        <img src="../static/entertain/images/img-03.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Hackathons</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.myskillsfuture.gov.sg">
                                        <img src="../static/entertain/images/img-05.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Courses</h4>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <a href = "https://ctf.hacker101.com/">
                                        <img src="../static/entertain/images/img-06.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>CTF</h4>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.twitch.tv/directory/game/Live">
                                        <img src="../static/entertain/images/img-07.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Livestreams</h4>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="main_page.html" id="back-to-main" title="Back to main" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
 
    <script src="../static/entertain/js/jquery-3.2.1.min.js"></script>
    <script src="../static/entertain/js/popper.min.js"></script>
    <script src="../static/entertain/js/bootstrap.min.js"></script>
    <script src="../static/entertain/js/jquery.superslides.min.js"></script>
    <script src="../static/entertain/js/images-loded.min.js"></script>
    <script src="../static/entertain/js/isotope.min.js"></script>
    <script src="../static/entertain/js/baguetteBox.min.js"></script>
    <script src="../static/entertain/js/form-validator.min.js"></script>
    <script src="../static/entertain/js/contact-form-script.js"></script>
    <script src="../static/entertain/js/custom.js"></script>
</body>
</html>
