<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Order Drinks</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="../static/logo.png"/>
    <link rel="stylesheet" href="../static/entertain/css/bootstrap.min.css">    
    <link rel="stylesheet" href="../static/entertain/css/style.css">    
    <link rel="stylesheet" href="../static/entertain/css/responsive.css">
    <link rel="stylesheet" href="../static/entertain/css/custom.css">
</head>
 
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="../static/main_page/index.html">
                                    <img src="../static/logo.png" alt="" width="100em">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="main_page.html">Home</a></li>
                                        <li><a href="index.html">Temperature</a></li>
                                        <li><a href="entertainment.html">Entertainment</a></li>
                                        <li><a href = "/management">Emergency</a></li>
                                        <li><a href = "upcoming.html">Upcoming Events</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="../static/main_page/index.html">
                                    <img src="../static/main_page/img/logo6.png" alt="" height="100px">
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        
                            
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Upcoming Events!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Please choose the type of event</h2>
                    </div>
                </div>
            </div>
                
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.sistic.com.sg/events">
                                        <img src="../static/entertain/images/img-01.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Entertainment</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "/drink/boulevardier">
                                        <img src="../static/entertain/images/img-02.jpg" class="img-fluid" alt="Image">                                      <div class="why-text">
                                            <h4>Cultural Events</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://devpost.com/">
                                        <img src="../static/entertain/images/img-03.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Hackathons</h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.myskillsfuture.gov.sg">
                                        <img src="../static/entertain/images/img-05.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Courses</h4>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <a href = "https://ctf.hacker101.com/">
                                        <img src="../static/entertain/images/img-06.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>CTF</h4>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <a href = "https://www.twitch.tv/directory/game/Live">
                                        <img src="../static/entertain/images/img-07.jpg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Livestreams</h4>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="main_page.html" id="back-to-main" title="Back to main" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
 
    <script src="../static/entertain/js/jquery-3.2.1.min.js"></script>
    <script src="../static/entertain/js/popper.min.js"></script>
    <script src="../static/entertain/js/bootstrap.min.js"></script>
    <script src="../static/entertain/js/jquery.superslides.min.js"></script>
    <script src="../static/entertain/js/images-loded.min.js"></script>
    <script src="../static/entertain/js/isotope.min.js"></script>
    <script src="../static/entertain/js/baguetteBox.min.js"></script>
    <script src="../static/entertain/js/form-validator.min.js"></script>
    <script src="../static/entertain/js/contact-form-script.js"></script>
    <script src="../static/entertain/js/custom.js"></script>
</body>
</html>
